{% extends 'base.html' %}

{% block title %}Education at the CHRU - Archives {% endblock %}

{% block content %}

{% url 'chru_dot_edu.views.people' as trainees %}


<div class="container-fluid blackborder whiterow">
    <div class="row whiterow">
        <br>
        <div class="col-lg-10 col-lg-offset-1" >
		 	<h2 style="text-align:center">Previous Work-in-Progress Sessions</h2>

			<div style="text-align:center">
				<br>
				<p><b>April 23rd, 2013</b><br>
				Speaker: <b>Larisa Tershchenko, MD, PhD</b><br>
				Assistant Professor, Knight Cardiovascular Institute, Oregon Health & Science University<br>
				Title: Towards ECG screening for sudden cardiac death risk in the general population</p>
				<br>
				<p><b>April 30th, 2013</b><br>
				Speaker: <b>Biraj Karmacharya, MBBS, Msc</b><br>
				Doctoral Student, Department of Epidemiology, University of Washington<br>
				Title: Opportunities and Challenges of CVD Research in Low-Income Settings: Perspectives from The Dhulikhel Heart Study (Nepal)</p>
				<br>
				<p><b>May 21st, 2013</b><br>
				Speaker: <b>Noel S. Weiss, MD, DrPH</b><br>
				Professor, Department of Epidemiology, University of Washington<br>
				Member, Fred Hutchinson Cancer Research Center<br>
				Title: All-cause mortality as an outcome in epidemiologic studies: Proceed with caution</p>
				<br>
				<p><b>May 28th, 2013</b><br>
				Speaker: <b>Joanna Ghobrial, MD</b><br>
				Doctoral Fellow, Department of Cardiology, University of Washington<br>
				Title: Ethnic differences in sudden cardiac arrest</p>
				<br>
				<p><b>November 5th, 2014</b><br>
				Speaker: <b>Laura Harrington, MS</b><br>
				Doctoral Student, Department of Epidemiology, University of Washington<br>
				Title: The Endogenous Hormonal Milieu Associated with Thrombosis in Postmenopausal Women</p>
				<br>
				<p><b>February 25th, 2015</b><br>
				Speaker: <b>Kenneth Rice, PhD</b><br>
				Associate Professor, Department of Biostatistics, University of Washington<br>
				Title: The Truth about Meta-Analysis</p>
				<br>
				<p><b>April 22nd, 2015</b><br>
				Speaker: <b>Alexis Beatty, MD, MAS</b><br>
				Assistant Professor, Medicine Staff Physician, Cardiology, VA Puget Sound Health Care System<br>
				Title: Promoting physical activity in patients with heart disease using mobile technology </p>
				<br>
				<p><b>May 13th, 2015 </b><br>
				Speaker: <b>Lucia A. Hindorff, PhD, MPH </b><br>
				Epidemiologist and Program Director, Division of Genomic Medicine, National Human Genome Research Institute, NIH<br>
				Title: From Genotype to Phenotype... and Back Again</p>
				<br>
				<p><b>June 3rd, 2015 </b><br>
				Speaker: <b>Sherene Shalhub, MD, MPH, FACS</b><br>
				Assistant Professor, Surgery, Vascular Surgery, University of Washington<br>
				Title: Genetic and clinical factors leading to dissection related aneurysmal degeneration</p>
				<br>
				<p><b>June 24th, 2015</b><br>
				Speaker: <b>Marco Carone, PhD</b><br>
				Assistant Professor, Department of Biostatistics, University of Washington<br>
				Title: Targeted learning: a set of tools for agnostic statistics</p>
				<br>		
				<p><b>September 30th, 2015</b><br>
				Speaker: <b>Biraj Karmacharya, MBBS, PhD</b><br>
				Post-doctoral Fellow, Department of Epidemiology, University of Washington<br>
				Title: Epidemiology of Cardiovascular Diseases Risk Factors and Hypertension in a Community-based Sub-urban Population in Nepal</p>
				<br>	
				<p><b>December 2nd, 2015</b><br>
				Speaker: <b>Julio Lamprea, MD, PhD, MPH</b><br>
				Clinical Fellow, Cardiology, University of Washington Medical Center<br>
				Title: Chronic Kidney Disease (CKD), Plasma Lipids, and Cardiovascular Disease</p>
				<br>
				<p><b>December 9th, 2015</b><br>
				Speaker: <b>Rheem A. Totah, MS, PhD</b><br>
				Associate Professor, Department of Medicinal Chemistry, University of Washington<br>
				Title: Establishing Eicosanoids as Biomarkers for Cardiovascular Disease</p>	
				<br>
				<p><b>January 20th, 2016</b><br>
				Speaker: <b>Shin Lin, MD, PhD, MHS</b><br>
				Fellow, Heart Failure/Transplantation, UCLA<br>
				Title: Epigenomic Landscapes</p>
				<br>
				<p><b>March 30th, 2016</b><br>
				Speaker: <b>YiQiang (Ken) Zhang, PhD</b><br>
				Acting Instructor of Medicine, Cardiology, University of Washington<br>
				Title: Functional Genomic Regulations of Cardiomyocyte Renewal</p>
				<br>
				<p><b>April 6th, 2016</b><br>
				Speaker: <b>Bessie A. Young, MD, MPH</b><br>
				Professor, Division of Nephrology, Department of Medicine, VA Puget Sound Health Care System<br>
				Title: Genetics, Race, Kidney Disease and Cardiovascular Disease</p>
				<br>
			</div>
        
			<br>
		</div>



 <!--
 
	<h3>Journal Club</h3>
	<p>The CHRU Journal Clubs give researchers and researchers-in-training opportunities to keep abreast of current health sciences literature in epidemiology and related fields, to informally discuss scientific or methodologic issues that are addressed in the medical literature, and to encourage critical and creative thinking on topics relevant to cardiovascular epidemiology. The Journal Clubs are led by a pre-selected discussant. </p> -->

</div>

{% endblock %}