{% extends 'base.html' %}

{% block title %}Education at the CHRU {% endblock %}

{% block content %}

{% url 'people' as trainees %}
{% url 'education_archives' as education_archives %}

<div class="container-fluid blackborder whiterow">
    <div class="row whiterow">
        <br>
        <div class="col-lg-10 col-lg-offset-1" >
		 	<h2>Work-in-Progress Sessions</h2>
			<p>Each academic quarter, the CHRU sponsors a series of lectures given by local, national, and international researchers on topics germane to cardiovascular epidemiology. These Work-in-Progress sessions are informal scientific meetings where scientists present current research ideas, analyses underway, or completed research projects to the CHRU research community. The 1-hour lectures are usually held on Wednesday afternoons from 2:30-3:30 at Metropolitan Park East, the home of the CHRU.</p>

			<div style="text-align:center">
				<br>
				<p><b>Stay tuned for upcoming talks</b>
			
			</div>
			<br>
			<h4 style="text-align:center">Previous Works-in-Progress</h4>
			<p style="text-align:center">
			A list of prior talks can be found <a href="{{education_archives}}">here</a>
			</p>
			<br>
		</div>

</div>

{% endblock %}