{% extends 'base.html' %}

{% block title %}Research at the CHRU - Archives {% endblock %}

{% block content %}

<div class="container-fluid blackborder">

    <div class="row whiterow">
        <br>
        <div class="col-lg-10 col-lg-offset-1" id="grants">
            <h2>Previous Projects</h2><br>
            <div id="CARDIA">
                <h4>Coronary Artery Risk Development in (Young) Adults (CARDIA) Study</h4>
                <p>
                The Coronary Artery Risk Development in (Young) Adults (CARDIA) Study examines the development and determinants of cardiovascular disease.  Beginning in 1985-86 with a group of 5115 black and white men and women aged 18-30 years, participants were asked to participate in follow up examinations during 1987-1988 (Year 2), 1990-1991 (Year 5), 1992-1993 (Year 7), 1995-1996 (Year 10), 2000-2001 (Year 15), 2005-2006 (Year 20), and 2010-2011 (Year 25).  A wide range of data has been collected at each follow-up examination, allowing for a wealth of longitudinal data on cardiovascular disease risk.
                </p>
                <br>
            </div>  
            <div id="IGFsAging">
                <h4>Epidemiology of IGFs and Aging</h4>
                <p>
                The insulin-like growth factor (IGFs) system is highly conserved across species and plays a major role in growth and development. Model organisms with low IGF-1 activity have extended longevity, but also exhibit characteristics associated with reduced fitness, such as infertility, small body size, and abnormal energy metabolism.  Carried out in the setting of the Cardiovascular Health Study (see above), the Epidemiology of IGFs and Aging project uses molecular epidemiology to study how declining IGF activity with advancing age may influence risk of age-related conditions.
                </p>
                <br>
            </div>  
            <div id="PATHAF">
                <h4>Patterns of Health Care Use, Treatment & Outcomes in Atrial Fibrillation: PATH-AF</h4>
                <p>
                Atrial fibrillation (AF) is an important public health problem and a major source of cardiovascular disease morbidity and mortality.  This study’s aim is to develop a comprehensive understanding of the health care of patients with AF and how investments in that care are directly linked to survival and health.  To accomplish this, the researchers are assessing the use of guidelines-based care for treatment of AF, analyzing the use of emerging technologies in the monitoring and treatment of AF, and examining the relationship between health care utilization and outcome in patients with AF.
                </p>
                <br>
            </div> 
            <div id="SSS">
                <h4>Epidemiologic Study of Sick Sinus Syndrome</h4>
                <p>
                Sick sinus syndrome (SSS) is a disorder characterized by symptomatic dysfunction of the sinoatrial node.  Though SSS accounts for 30-50% of indications for pacemaker implantations in the US and other Western Countries, incidence and risk factors have been little studied in the general population.  This study seeks to calculate age, gender and race specific incidence of SSS, identify lifestyles, clinical variables and biomarkers associated with SSS incidence and to evaluate the impact of SSS incidence on the subsequent risk of other cardiovascular outcomes.
                </p>
            </div>  
            <br>
        </div>
        <br>
    </div>

</div>

{% endblock %}