{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %} Support Us {% endblock %}


{% block content %}

<div class="container-fluid blackborder">
<!-- 	<h2>CHRU Contact Details</h2> -->
	<div class="row whiterow">
		<br>
		<div class="col-lg-6 col-lg-offset-3">
			<h3>Support the work of the CHRU</h3>
			<p>
				Cutbacks in federal and state support of biomedical research threaten to slow progress in cardiovascular health research at a time when critical progress is being made toward clinical translation. We actively seek support from foundations and private individuals who believe in our mission.
			</p>
			<br>
			<h3>How can you help?</h3>
			<p> <a href="https://www.washington.edu/giving/make-a-gift?page=CHRUFund">Make a gift throught the UW Foundation</a>, contact UW Medicine Advancement at 206-543-5686 or <a href="mailto:writemed@uw.edu">writemed@uw.edu.</a>
				<br>
				Thank you for your interest in our work.
			</p>
			</p>
			<br>
		</div>
	</div>
</div>
<!-- </div> -->
{% endblock %}