{% extends 'base.html' %}

{% block title %}Training at the CHRU {% endblock %}

{% block content %}

{% url 'chru_dot_edu.views.trainees' as trainees %}


<div class="container-fluid blackborder whiterow">

	<h3>Training</h3>
	<p>The purpose of the Cardiovascular Epidemiology Training Program at the University of Washington is to provide skills in epidemiology and biostatistics that will enable <a href="{{trainees}}">trainees</a> to develop a career in cardiovascular epidemiology and prevention.  The program is housed in the Department of Epidemiology in the School of Public Health at the University of Washington.  All of the pre-doctoral trainees and a majority of the post-doctoral trainees are also enrolled in the graduate programs of the Department of Epidemiology.  Much of the research training takes place in the University of Washington Cardiovascular Health Research Unit, where many of the participating faculty are based and conduct their research. </p>

	<h3>Epidemiology of Cardiovascular Disease (EPI 519)</h3>
	<p>Epidemiology 519 is offered for graduate students interested in cardiovascular diseases.  The course objectives are as follows:</p><br>

	<p style="margin-left:5em;margin-right:5em;">
	<b>1.</b> The student will learn what is known and not known about the major determinants and consequences of cardiovascular risk factors, subclinical disease, and clinical diseases.<br>
	<b>2.</b> The student will understand epidemiologic methods and
	concepts, such as measurement, bias, and generalizability, as they apply to research on the determinants and consequences of cardiovascular disease.<br>
	<b>3.</b> The student will understand opportunities and barriers to the application of knowledge in the clinical and public health setting related to the prevention of cardiovascular disease.<br>
	<b>4.</b> The student will understand special research problems, major research directions, and methodologic challenges related to cardiovascular epidemiology and prevention.<br>
	<b>5.</b> The student will have an opportunity to develop skills of critical reading, writing, and speaking, as they relate to research questions in the field of cardiovascular epidemiology and prevention.  
	</p>

 	<h3>Work-in-Progress Sessions</h3>
	<p>Each academic quarter, the CHRU sponsors a series of lectures given by local, national, and international researchers on topics germane to cardiovascular epidemiology. These Work-in-Progress sessions are informal scientific meetings where scientists present current research ideas, analyses underway, or completed research projects to the CHRU research community. The 1-hour lectures are usually held on Wednesday afternoons from 2:30-3:30 at Metropolitan Park East, the home of the CHRU.</p>

	<div style="text-align:center">
		<br>
		<p><b>January 15th.</b><br>
		Speaker: <b><a href="http://research.fhcrc.org/wu/en.html">Michael Wu</a></b>, PhD, Assistant Professor, Department of Biostatistics, Fred Hutchinson Cancer Research Center<br>
		Title: Kernel Machine Methods for Gene-Gene Interaction Testing and for Integrative Genomic Analysis</p>
		<br>
	</div>




 <!--
 
	<h3>Journal Club</h3>
	<p>The CHRU Journal Clubs give researchers and researchers-in-training opportunities to keep abreast of current health sciences literature in epidemiology and related fields, to informally discuss scientific or methodologic issues that are addressed in the medical literature, and to encourage critical and creative thinking on topics relevant to cardiovascular epidemiology. The Journal Clubs are led by a pre-selected discussant. </p> -->

</div>

{% endblock %}